.mainContent {

}

.contentWrapper{
  width: 1024px;
  margin: 0 auto;
}

.carouselWrapper {
  width: 1024px;
  margin: 0 auto;
}

.mainContent hr {
  margin: 20px 0;
}

.carouselWrapper :global .ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.carouselWrapper :global .ant-carousel .slick-slide h3 {
  color: #fff;
}

.logistics {
  margin: 40px auto;
  float: left;
  position: relative;
  left: 50%;
}

.logisticsWrapper {
  position: relative;
  left: -50%;
}

.logistics div {
  display: inline-block;
  margin: 0 10px;
}

.logistics2 {
  height: 100px;
}

