.orderGoodsItemWrapper {
  text-align: center;
  padding: 15px;
  border-bottom: solid 1px #aaaaa7;
  font-size: 1.1em;
  font-weight: bold;
}
.bagName {
  align-items: center;
}
.orderState {
  color: red;
}
