:global textarea {
  resize: none;
}
.addItemContentWrapper {
  width: 1024px;
  margin: 0 auto;
}
.flexLayoutLine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.flexLayoutArea {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.videoItem {
  margin-left: 60px;
}
.videoItem :global * {
  box-sizing: content-box;
}
.flexLayoutBtnArea {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
